/* css/styles.css */

:root {
    --sk-body-background-color: #fff;
    --sk-body-text-color: #1d1d1f;
}

body {
    background-color: var(--sk-body-background-color);
    color: var(--sk-body-text-color);
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

h1, h2, p {
    margin-bottom: 20px;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #ccc;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ccc;
}